*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.collapse{
    justify-content: flex-end;
}
.main{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 2em 0em;
}
.audio{
    width: 250px;
    height: 375px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.1em;
    background-color: #272727;
    color: white;
    box-shadow: 1px 1px 20px 1px black;
    flex: 1 1 250px;
    margin: 1em;
    border-radius: 5px;
}
.audio img{
    width: 200px;
    height: 200px;
    margin: 0.5em;
}
.audio h2{
    font-weight: 500;
    font-size: medium;
    margin: 0.5em;
}
.audio p{
    font-size: small;
    font-weight: 300;
    text-align: center;
    margin: 0.5em;
}
footer{
    background-color: aqua;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5ms;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin:30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
    
}
.footerBottom{
    background-color: black;
    padding: 20px;
    text-align: center;
}